%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %title
    %link{crossorigin: "anonymous", href: "https://use.fontawesome.com/releases/v5.0.13/css/all.css", integrity: "sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp",rel: "stylesheet"}/
  %body
    .wrapper
      = render 'shared/side_bar'
      .chat__body
        .group__top
          .group__top__name
            = @group.name
          = link_to 'Edit', edit_group_path(@group), class: "group__top__edit-btn"
          .group__top__members__list
            %p1 Members: 
            - @group.users.each do |user|
              = user.name
        .messages
          = render @messages
        .form
          = form_for [@group, @message] do |f|
            = f.text_field :content, class: 'form__message', placeholder: 'type a message'
            .form__mask
              = f.label :image, class: 'form__mask__image' do
                <i class="far fa-image"></i>
                = f.file_field :image, class: 'hidden'
            = f.submit 'Send', class: 'form__submit'