%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %title
    %link{crossorigin: "anonymous", href: "https://use.fontawesome.com/releases/v5.0.13/css/all.css", integrity: "sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp",rel: "stylesheet"}/
  %body
    .wrapper
      -# .group__created グループを作成しました
      = render 'shared/side_bar'
      .chat__body
        .group__top
          %h3 sample
          =link_to "/form.#" do
            .group__top__edit-btn Edit
          %p1 Members: seo neko
        = render @messages
        .form
          = form_for [@group, @message] do |f|
            = f.text_field :content, class: 'form__message', placeholder: 'type a message'
            .form__mask
              = f.label :image, class: 'form__mask__image' do
                = fa_icon "image", class: 'icon'
                = f.file_field :image, class: 'hidden'
            = f.submit 'Send', class: 'form__submit'